:root {
  --clr-light-grayish-blue: hsl(210, 46%, 92%);
  --clr-dark-grayish-blue: hsl(217, 19%, 35%);
  --clr-desaturated-dark-blue: hsl(214, 17%, 51%);
  --clr-grayish-blue: hsl(212, 23%, 69%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  display: grid;
  place-content: center;
  background-color: var(--clr-light-grayish-blue);
  min-height: 100svh;
}

main {
  min-height: 100svh;
  margin: 6rem 1.5rem;
  display: grid;
  place-content: center;
}

.card {
  max-width: 410px;
  border-radius: 0.5rem;
  background-color: #fff;
  position: relative;
}

.card__img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
  object-position: top;
  max-height: 218px;
}

.card__content {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.card__content h2 {
  font-size: 1.25em;
  margin-bottom: 1rem;
  color: var(--clr-dark-grayish-blue);
}

.card__description {
  font-size: 1.1em;
  margin-bottom: 2rem;
  color: var(--clr-dark-grayish-blue);
  line-height: 1.6;
}

.card__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__details p {
  color: #000;
  font-weight: 700;
  margin-bottom: 4px;
}

.card__details time {
  color: var(--clr-dark-grayish-blue);
}

.author__img {
  border-radius: 50%;
}

#share__icon--light,
#share__icon--dark {
  margin-left: auto;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#share__icon--light {
  background-color: var(--clr-light-grayish-blue);
}

#share__icon--dark {
  background-color: var(--clr-desaturated-dark-blue);
}

#socials {
  display: none;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--clr-dark-grayish-blue);
  gap: 1rem;
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1.25rem 1.5rem;
}

#socials span {
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--clr-light-grayish-blue);
  font-weight: 300;
}

#tooltiptext {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 938px) {
  main {
    margin: 0;
  }

  #socials {
    visibility: hidden;
  }

  .card {
    max-width: 738px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .card__img {
    width: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
    height: 100%;
    max-height: 100%;
    object-position: left;
  }

  .card__content h2 {
    font-size: 1.5em;
  }

  .card__description {
    font-size: 1.2em;
    margin-bottom: 1rem;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    visibility: visible;
  }

  #tooltiptext {
    visibility: hidden;
    width: 210px;
    background-color: var(--clr-dark-grayish-blue);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    bottom: 160%;
    left: 50%;
    margin-left: -105px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 0;
    gap: 1rem;
  }

  .tooltip #tooltiptext::after {
    content: " ";
    position: absolute;
    top: 99%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--clr-dark-grayish-blue) transparent transparent
      transparent;
  }

  #tooltiptext span {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--clr-light-grayish-blue);
    font-weight: 300;
  }
}
